body {
  font-family: Arial, Helvetica, sans-serif;
}

img {
  max-width: 100%;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar {
  display: flex;
  gap: 1rem;
}

ul {
list-style: none;
}

.button-see {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background-color: crimson;
  color: white;
  cursor: pointer;
}